.banner {
    color: white;
    object-fit: contain;
    height: 700px;
}

.banner__contents{
    margin-left: 60px;
    padding-top: 260px;
    height: 250px;
}

.banner__title {
    font-size: 6rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

.banner__description {
    width: 42rem;
    font-weight: 400;
    height: 80px;
    line-height: 1.3;
    font-size: 1.3rem;
    max-width: 575px;
    margin-bottom: 1.2rem;
}

.banner__buttons {
    display: flex;
}

.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 0.4vw;
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
    margin-right: 0.6rem;
    background-color: rgba(109, 109, 109, 0.7);
    font-size: 17px;
    transition: all 0.2s;
}

.banner__button:nth-of-type(1) {
    color: black;
    background-color: white;
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
}

.banner__button:nth-of-type(1):hover{
    background-color: rgb(225, 225, 225);
}

.banner__button:nth-of-type(2):hover{
    background-color: rgba(67, 61, 61, 0.5);
}

.banner__button:nth-of-type(2) span {
    margin-left: 10px;
}

.play__button {
    width: 20px;
    margin-right: 10px;
}

.banner--fadeBottom {
    margin-top: 3rem;
    height: 10.1rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        rgba(20,20,20,255)
    );
}


