.nav {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1;
    height: 70px;

    /* Animation */
    transition-timing-function: ease-in;
    transition: all 1s;
}

.nav__black {
    background-color: rgb(20, 20, 20);
}

.nav__logo {
    position: fixed;
    left: 50px;
    top: 2px;
    object-fit: contain;
    width: 116px;
}

.nav__avatar {
    position: fixed;
    right: 50px;
    top: 15px;
    object-fit: contain;
    width: 40px;
}



